<div class="container">
  <div class="card">
    <div class="card-header">
      <h1>{{ title }}</h1>
    </div>
    <div class="card-body">

      <p>
        {{ 2 | square}}
      </p>

      <p>
        {{ 3.1 | square }}
      </p>

      <!-- <p>
        Today is {{ today }}
      </p>

      <p>
        Today is {{ today | date}}
      </p>

      <p>
        Today is {{ today | date:"dd/MM/YYYY"}}
      </p>

      <p>
        Time is {{ today | date:"fullTime" }}
      </p>

      <p>
        Amount is {{ 100 | currency:"INR":"Rs."}}
      </p>

      <p>
        {{ "hello" | uppercase}}
      </p>

      <p>
        {{ "hello user welcome to angular" | titlecase}}
      </p> -->
      <!-- <p appAlert [inputmessage]="'This is a Para Element'">
        Hello
      </p>

      <span appAlert inputmessage="This is a Span Element">
        Welcome
      </span>
      <br>
      <span appAlert="Hello">
        Welcome Again
      </span>

      <p *appRepeat="10">
        Hello
      </p> -->

      <!-- <app-home></app-home> -->
      <!-- <app-book-list></app-book-list> -->

      <!-- <app-directive-demo1></app-directive-demo1> -->
      <!-- <app-directive-demo2></app-directive-demo2> -->
      <!-- <app-directive-demo3></app-directive-demo3> -->
    </div>
  </div>
</div>
